/* Header Styles */
header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header::before {
    content: "";
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; 
    height: 50px;
    margin-left: 20px;
}
