/* Places Section */
.places {
    margin-top: 40px;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    color: #333333;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.places article .price_by_night {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.places article .information {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0;
    margin: 10px 0;
}

.places article .information div {
    width: 100px;
    text-align: center;
    font-size: 14px;
}

.places article .user {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}

.places article .description {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
    color: #484848;
}

.max_guest::before {
    content: "";
    display: inline-block;
    background-image: url('../images/icon_group.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.number_rooms::before {
    content: "";
    display: inline-block;
    background-image: url('../images/icon_bed.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.number_bathrooms::before {
    content: "";
    display: inline-block;
    background-image: url('../images/icon_bath.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
